Assets/img/*

!Assets/img/.gitkeep

uploads/avaliacaoEstagios/*

!uploads/avaliacaoEstagios/.gitkeep

uploads/Formando/*

!uploads/Formando/.gitkeep

Assets/Estrutura/*

Tasks/*

Temp/*

security_tests/*

config/*

!config/.gitkeep

config/.env

custom_wordlist.txt

curupira/

.infisical.json

.vscode

Conexao/bd_c3.sql

Conexao/bd_v3.sql

Conexao/ra.sql