version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Assets/Estrutura/Dockerfile
    volumes:
      - ./:/var/www/html
    networks:
      - app-network

  web:
    image: nginx:stable-alpine
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html:ro
      - ./Assets/Estrutura/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - app-network

  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: estagio
      MYSQL_ROOT_PASSWORD: secret
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - app-network

volumes:
  dbdata:

networks:
  app-network:
    driver: bridge
